*
#################
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*
!README.md
!src/
!src/*/
!src/*/*
!pyproject.toml
!examples/
!examples/*
!tests/
!tests/*
!front/
!front/*
!front/templates/
!front/templates/[a,i]*
!data/
!data/transgrancanaria/
!data/transgrancanaria/transgrancanaria_classic_2023.csv
