*
#################
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*
!README.md
!.env.example
!src/
!src/__init__.py
!src/*/
!src/*/*
!src/*/*/*
!pyproject.toml
!examples/
!examples/*
examples/*.ipynb
!tests/
!tests/*
!tests/test_database/*
!front/
!front/*
!front/pages/
!front/pages/*
!data/
!data/csv/
!data/csv/transgrancanaria/
!data/csv/transgrancanaria/transgrancanaria_classic_2023.csv
!examples/Transgrancanaria 2023 - Analysis.ipynb
!examples/parse_LiveTrail_to_DB.ipynb
!examples/scraper.ipynb
!examples/new_way_db.ipynb
*.log
*.txt
*.pyc
