*
#################
!.gitignore
!.github/
!.github/workflows/
!.github/workflows/*
!README.md
!.env.example
!src/
!src/__init__.py
!src/*/
!src/*/*
!src/*/*/*
!pyproject.toml
!examples/
!examples/*
!tests/
!tests/*
!tests/test_database/*
!front/
!front/*
!front/pages/
!front/pages/*
!data/
!data/csv/
!data/csv/transgrancanaria/
!data/csv/transgrancanaria/transgrancanaria_classic_2023.csv
examples/tmp_load_db_tests_n_code.ipynb
examples/tests.ipynb
*.log
*.txt
*.pyc
